* {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.nav {
  width: 100%;
  height: 4rem;
  background-color: #113343;
}

.nav__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-brand {
  display: flex;
  height: 100%;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-brand__logo {
  width: 3rem;
  margin-right: 0.5rem;
  color: #71b68a;
}

.nav-brand:hover .nav-brand__logo {
  color: #b8ffd2;
}

.button {
  display: flex;
  width: 9rem;
  height: 2.5rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  background-color: rgb(226, 27, 27);
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0;
}

.button:hover {
  background-color: rgb(186, 22, 22);
}

.button__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.main {
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
}

.main::before,
.main::after {
  content: "";
  display: block;
  position: absolute;
  top: -1rem;
  bottom: 0rem;
  width: 10rem;
  background-image: url("../imgs/bg-lines.svg");
  background-size: cover;
  z-index: -1;
  background-position: right center;
  opacity: 0.1;
  min-height: 100rem;
}

.main::before {
  left: 0;
}

.main::after {
  right: 0;
  transform: scaleX(-1);
}

.main-heading {
  color: #113343;
  font-size: 2.5rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding: 0.67em;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;
  background-color: #f3f4f5;
  padding: 0;
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }
}

.card__heading {
  color: #113343;
  font-size: 1.75rem;
}

.card__heading::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.125rem;
  background-color: #328677;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card__image {
  display: block;
  height: 15rem;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .card__image {
    width: 20rem;
    height: 2rem;
    min-height: 100%;
    box-shadow: 0.25rem 0 0.5rem rgba(0, 0, 0, 0.1);
  }
}

.card__desc__container {
  padding: 0 2rem 1rem 1rem;
}

.card__desc-time {
  color: #328677;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.card__paragraph {
  color: #113343;
  line-height: 1.33em;
  font-size: 1rem;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.pagination__link {
  display: block;
  color: #113343;
  background-color: white;
  border: 0.125rem solid rgb(200, 200, 200);
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  text-align: center;
  line-height: 1.75rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
}

.pagination__link:hover {
  color: white;
  background-color: #328677;
  border-color: #328677;
}

.pagination__link--active {
  border: 0.125rem solid #328677;
  color: #328677;
}

.footer {
  background-color: #113343;
  padding: 3rem 0;
}

.footer::after {
  content: "";
  display: block;
  width: 7.5rem;
  height: 0.125rem;
  background-color: white;
  margin: 2.5rem auto 0 auto;
  opacity: 0.5;
}

.footer__heading {
  color: white;
}

.footer__desc {
  color: #71b68a;
  max-width: 20rem;
  line-height: 1.33em;
}

.form-group {
  display: flex;
  margin-bottom: 1rem;
}

.form-group__label,
.form-group__input {
  display: block;
  color: #113343;
  background-color: rgb(200, 200, 200);
  border-style: solid;
  border-color: rgb(100, 100, 100);
  padding: 0.5rem;
  font-weight: bottom;
}

.form-group__label {
  flex: 0 0 7.5rem;
  border-top-width: 0.125rem;
  border-left-width: 0.125rem;
  border-bottom-width: 0.125rem;
  border-right-width: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  text-transform: uppercase;
}

.form-group__input {
  flex: 1 0 10rem;
  border-top-width: 0.125rem;
  border-right-width: 0.125rem;
  border-bottom-width: 0.125rem;
  border-left-width: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.form-submit {
  display: flex;
  justify-content: flex-end;
}
