.gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gallery-item {
  margin: 1rem 0;
  display: block;
  width: 14rem;
  border: 0.125rem solid black;
  border-radius: 0.5rem;
}

.gallery-item h3 {
  margin: 0;
  color: black;
  font-size: 1rem;
  height: 3rem;
  padding: 0.25rem;
}

.gallery-item img {
  display: block;
  width: 100%;
  aspect-ratio: 1920/1440;
  object-fit: cover;
}
